@import "tailwindcss";

/* customBlue: '#004274',
        customOrange: '#ED7D31', // Add your custom color here */

.bg-custom-blue {
  background-color: #bedbff;
}
.text-custom-blue {
  color: #3fa1fc;
}
